<html>
    <head>
        <title>Recipe Resolution</title>
        <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}"></link>    
        <link rel="stylesheet" href="{{url_for('static', filename='global_style.css')}}"></link>    
        
    </head>

    <body>
        <header>
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    
                    <a class="navbar-brand" href="/">Recipe Resolution</a>
                    
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link " href="/recipes">Recipes</a>
                        </li>
        
                        <li class="nav-item">
                            <a class="nav-link " href="/ingredients">Ingredients</a>
                        </li>
        
                        <li class="nav-item">
                            <a class="nav-link " href="/creators">Creators</a>
                        </li>
        
                        <li class="nav-item">
                            {% if user_id != None %}
                            <a class="nav-link" href="/logout">Logout</a>
                            {% else %}
                            <a class="nav-link" href="/login">Login</a>
                            {% endif %}
                        </li>
                </div>
            </nav>
        </header>

        <content class="container">
            <h1>View Recipes</h1>

            <div class="card">
                <table id="table" class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Recipe</th>
                            <th scope="col">Number of Ingredients</th>
                            <th scope="col">Creator</th>
                            <th scope="col">Date</th>
                            <th scope="col">View</th>
                        </tr>
                    </thead>
                    <tbody id="table_body">

                    </tbody>
                </table>

                <div>
                    <button class="my-1 btn btn-outline-primary" id="create_recipe_btn">Create New Recipe</button>
                </div>

            </div>
        </content>
        
    </body>

    <script src="{{url_for('static', filename='bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename='utility.js')}}"></script>
    <script src="{{url_for('static', filename='recipes.js')}}"></script>
</html>